[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true



[dev-packages]



[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
cloudinary = "*"
flask-admin = "*"
typing-extensions = "*"
flask-jwt-extended = "==4.6.0"
wtforms = "==3.1.2"
sqlalchemy = "*"
flask-socketio = "*"
eventlet = "*"
requests = "*"
# Pin setuptools to avoid breaking changes from dependencies like flask-admin
setuptools = "<81"
flask-login = "*"
faker = "*"

[requires]
python_version = "3.13.4"



[scripts]
# Main commands - Use these!
api="flask run -p 3001 -h 0.0.0.0"
dev="bash -c 'trap \"kill 0\" EXIT; flask run -p 3001 -h 0.0.0.0 & python src/socket_app.py & wait'"

# TESTING COMMANDS
admin-list="bash -c 'python src/scripts.py list' "

# Service management commands
start="bash ./dev_server.sh start"
stop="bash ./dev_server.sh stop"
force-stop="bash ./dev_server.sh force-stop"
status="bash ./dev_server.sh status"
restart="bash ./dev_server.sh restart"

# Database commands
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
downgrade="flask db downgrade"
reset_db="bash ./docs/assets/reset_migrations.bash"
local="heroku local"
insert-test-data="flask insert-test-data"
deploy="echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku' "
